*{
    box-sizing: border-box;
}
body{
    background-color: cornflowerblue;
display: grid;
grid-template-columns: 2fr 1fr;
}
header,nav, article, aside,footer{
    border : 1px rgb(107, 34, 34)
}

main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "he he"
                         "na na"
                         "ar as"
                         "fo fo"
}
header{
    grid-area: he;
}
nav{
    grid-area: na;
}
article{
    grid-area: ar;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
aside{
    grid-area: as;
}
footer{
    grid-area: fo;
}
@media screen and (max-width: 700px ){
    article{
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "t1 t2"
                         "t3 t4"
    }
}
